@import './_variables.scss';
@import './_config.scss';
@import './_mobile.scss';

// Header
.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3rem;

    .profile {
        .profile-img {
            width: 30%;
            border-radius: $border-radius;
            margin: 1rem 0;
        }

        .location {
            margin: 8px 0;
        } 
    }

    .details {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 1.8rem;
        
        div {
            margin: 0 1.5rem;
            width: 100px;
            height: 67px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $box-color;
            border-radius: $border-radius;
        }
    }
}
